In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('DataSets/student_prediction.csv')
df.head()

,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1

In [ ]:
# remove unnecessary columns
feats_to_drop = ['STUDENTID', 'COURSE ID', 'CLASSROOM', 'KIDS', 'MOTHER_JOB', 'FATHER_JOB', '#_SIBLINGS', 'LIVING', 'TRANSPORT']
df = df.drop(feats_to_drop, axis=1)
# one-hot encode certain features
feats_to_one_hot_encode = ['GENDER', 'HS_TYPE', 'ACTIVITY', 'PARTNER', 'MOTHER_EDU', 'FATHER_EDU']
df = pd.get_dummies(df, columns=feats_to_one_hot_encode)
# standardize feats
feats_to_standardize = [feat for feat in df.columns.tolist() if (feat not in feats_to_one_hot_encode and feat not in ['GRADE'])]
print(feats_to_standardize)
for feat in feats_to_standardize:
    df[feat] = (df[feat] - df[feat].mean()) / df[feat].std()
# split dataframe into numpy array of features and values

# features = df.iloc[:, :df.shape[1] - 1].values
# labels = df.loc[:, 'GRADE'].values
# print(np.unique(labels))
clone = df
clone = clone.drop('GRADE', axis=1)
features = clone.iloc[:].values
labels = df.loc[:, 'GRADE'].values

['AGE', 'SCHOLARSHIP', 'WORK', 'SALARY', 'STUDY_HRS', 'READ_FREQ', 'READ_FREQ_SCI', 'ATTEND_DEPT', 'IMPACT', 'ATTEND', 'PREP_STUDY', 'PREP_EXAM', 'NOTES', 'LISTENS', 'LIKES_DISCUSS', 'CUML_GPA', 'EXP_GPA', 'GENDER_1', 'GENDER_2', 'HS_TYPE_1', 'HS_TYPE_2', 'HS_TYPE_3', 'ACTIVITY_1', 'ACTIVITY_2', 'PARTNER_1', 'PARTNER_2', 'MOTHER_EDU_1', 'MOTHER_EDU_2', 'MOTHER_EDU_3', 'MOTHER_EDU_4', 'MOTHER_EDU_5', 'MOTHER_EDU_6', 'FATHER_EDU_1', 'FATHER_EDU_2', 'FATHER_EDU_3', 'FATHER_EDU_4', 'FATHER_EDU_5', 'FATHER_EDU_6']

In [ ]:
clone

,AGE,SCHOLARSHIP,WORK,SALARY,STUDY_HRS,READ_FREQ,READ_FREQ_SCI,ATTEND_DEPT,IMPACT,ATTEND,...,MOTHER_EDU_3,MOTHER_EDU_4,MOTHER_EDU_5,MOTHER_EDU_6,FATHER_EDU_1,FATHER_EDU_2,FATHER_EDU_3,FATHER_EDU_4,FATHER_EDU_5,FATHER_EDU_6
0,0.618622,-0.710411,-1.394873,-0.615133,0.872007,0.098088,-0.025548,-0.519668,-0.351844,-0.562128,...,-0.604473,-0.410106,-0.117854,-0.117854,-0.498273,1.734041,-0.679295,-0.487510,-0.188329,-0.083045
1,0.618622,-0.710411,-1.394873,-0.615133,-0.218002,0.098088,-0.025548,-0.519668,-0.351844,-0.562128,...,-0.604473,-0.410106,-0.117854,-0.117854,-0.498273,-0.572711,1.461961,-0.487510,-0.188329,-0.083045
2,0.618622,-0.710411,0.711967,0.365024,-0.218002,-1.679765,-0.025548,-0.519668,-0.351844,-0.562128,...,-0.604473,-0.410106,-0.117854,-0.117854,-0.498273,1.734041,-0.679295,-0.487510,-0.188329,-0.083045
3,-1.012290,-0.710411,-1.394873,0.365024,0.872007,-1.679765,-0.025548,-0.519668,-0.351844,-0.562128,...,-0.604473,-0.410106,-0.117854,-0.117854,-0.498273,1.734041,-0.679295,-0.487510,-0.188329,-0.083045
4,0.618622,-0.710411,0.711967,1.345180,-0.218002,-1.679765,-1.877797,-0.519668,-0.351844,-0.562128,...,1.642926,-0.410106,-0.117854,-0.117854,-0.498273,-0.572711,1.461961,-0.487510,-0.188329,-0.083045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,0.618622,-0.710411,-1.394873,-0.615133,0.872007,1.875942,-0.025548,-0.519668,-0.351844,-0.562128,...,-0.604473,-0.410106,-0.117854,-0.117854,-0.498273,1.734041,-0.679295,-0.487510,-0.188329,-0.083045
141,-1.012290,0.530668,0.711967,-0.615133,0.872007,0.098088,-0.025548,1.911036,-0.351844,1.766687,...,-0.604473,-0.410106,-0.117854,-0.117854,1.993092,-0.572711,-0.679295,-0.487510,-0.188329,-0.083045
142,-1.012290,0.530668,0.711967,-0.615133,-0.218002,0.098088,-0.025548,-0.519668,-0.351844,-0.562128,...,1.642926,-0.410106,-0.117854,-0.117854,-0.498273,-0.572711,-0.679295,2.037094,-0.188329,-0.083045
143,0.618622,0.530668,-1.394873,3.305493,-0.218002,0.098088,-1.877797,-0.519668,-0.351844,-0.562128,...,-0.604473,2.421578,-0.117854,-0.117854,-0.498273,-0.572711,-0.679295,2.037094,-0.188329,-0.083045
144,-1.012290,1.771747,0.711967,1.345180,0.872007,-1.679765,-1.877797,-0.519668,-0.351844,-0.562128,...,1.642926,-0.410106,-0.117854,-0.117854,1.993092,-0.572711,-0.679295,-0.487510,-0.188329,-0.083045

In [ ]:
def generateRandom(data, features, labels):
  perm_idx = np.random.permutation(data.shape[0])
  vali_num = int(data.shape[0] * 0.2)
  vali_idx = perm_idx[:vali_num]
  train_idx = perm_idx[vali_num:]
  train_features = features[train_idx, :]
  train_labels = labels[train_idx]
  vali_features = features[vali_idx, :]
  vali_labels = labels[vali_idx]
  return train_features, train_labels, vali_features, vali_labels

train_features, train_labels, vali_features, vali_labels = generateRandom(df, features, labels)
print(train_features.shape)
print(train_labels.shape)
print(vali_features.shape)
print(vali_labels.shape)
print(np.unique(vali_labels))

(116, 38)
(116,)
(29, 38)
(29,)
[0 1 2 3 4 5 6 7]

In [ ]:
def KNN(train_features, train_labels, test_features, k=10):
    vali_pred = []
    for i in range(test_features.shape[0]):
        x = test_features[i, :]  
        distances = np.sqrt(np.sum((x - train_features) ** 2, axis=1))
        topk_idx = np.argpartition(distances, k)[:k]
        topk_labels = list(train_labels[topk_idx])
        pred = max(topk_labels, key=topk_labels.count)
        vali_pred.append(pred)
    return np.array(vali_pred)
for k_tuner in range(5, 16):
    pred = KNN(train_features, train_labels, vali_features, k=k_tuner)
    count = 0
    margin = 1
    for i in range(pred.size):
        if vali_labels[i] - margin <= pred[i] and pred[i] <= vali_labels[i] + margin:
            count += 1

    print("K: {}, Accuracy: {}".format(k_tuner, str(count / vali_features.shape[0])))

K: 5, Accuracy: 0.5862068965517241
K: 6, Accuracy: 0.5172413793103449
K: 7, Accuracy: 0.5172413793103449
K: 8, Accuracy: 0.5517241379310345
K: 9, Accuracy: 0.3793103448275862
K: 10, Accuracy: 0.3793103448275862
K: 11, Accuracy: 0.4482758620689655
K: 12, Accuracy: 0.5172413793103449
K: 13, Accuracy: 0.5172413793103449
K: 14, Accuracy: 0.4827586206896552
K: 15, Accuracy: 0.4827586206896552

In [ ]:
# AGE - Index 0 
# SCHOLARSHIP - Index 1
# WORK - Index 2
# SALARY - Index 3
# STUDY_HRS - Index 4
# READ_FREQ - Index 5
# READ_FREQ_SCI - Index 6
# ATTEND_DEPT - Index 7
# IMPACT - Index 8 
# ATTEND - Index 9 
# PREP_STUDY - Index 10
# PREP_EXAM - Index 11
# NOTES - Index 12
# LISTENS - Index 13
# LIKES_DISCUSS - Index 14
# CUML_GPA - Index 15
# EXP_GPA - Index 16
# GENDER_1 - Index 17
# GENDER_2 - Index 18
# HS_TYPE_1 - Index 19
# HS_TYPE_2 - Index 20
# HS_TYPE_3 - Index 21
# ACTIVITY_1 - Index 22 
# ACTIVITY_2 - Index 23
# PARTNER_1 - Index 24 
# PARTNER_2 - Index 25
# MOTHER_EDU_1 - Index 26 
# MOTHER_EDU_2 - Index 27
# MOTHER_EDU_3 - Index 28
# MOTHER_EDU_4 - Index 29
# MOTHER_EDU_5 - Index 30
# MOTHER_EDU_6 - Index 31
# FATHER_EDU_1 - Index 32
# FATHER_EDU_2 - Index 33
# FATHER_EDU_3 - Index 34
# FATHER_EDU_4 - Index 35  
# FATHER_EDU_5 - Index 36
# FATHER_EDU_6 - Index 37

In [ ]:
testSamples = [[ 0.61862164, -0.7104108 , -1.39487349, -2.,  0.8720069 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762, #SALARY
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1.6325926 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, 0,  0.8720069 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762, 
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1.6325926 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, 2,  0.8720069 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762,
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1.6325926 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, -0.61513269,  -2. , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762, #Study Hours
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1.6325926 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, -0.61513269,  0 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762,
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1.6325926 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, -0.61513269,  3, 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762,
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1.6325926 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, -0.61513269,  0.8720069 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762, #CUML GPA 
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,-1 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, -0.61513269,  0.8720069 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762,
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543,0 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       [ 0.61862164, -0.7104108 , -1.39487349, -0.61513269,  0.8720069 , 0.09808847, -0.02554826, -0.51966763, -0.3518438 , -0.56212762,
       -0.54959752, -0.40519998,  0.8057006 , -0.08176893, -2.30515543, 2 , -1.88114581, -0.8136762 ,  0.8136762 , -0.45485883,
       -1.5605986 ,  2.734499  , -0.8136762 ,  0.8136762 , -0.84922451,0.84922451,  1.29366271, -0.47669229, -0.60447259, -0.41010593,
       -0.11785397, -0.11785397, -0.49827288,  1.73404053, -0.67929523,-0.48750978, -0.18832945, -0.08304548],
       ]

In [42]:
pred_test = KNN(train_features, train_labels, np.array(testSamples), 5)
pred_test

array([1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)